<h1><%= @traveler.name %></h1>
<br>
<h2>Travelers age:</h2>
<%= @traveler.age %>
<br>

<label> favorite countries:</label>
<br>
<% @traveler.vacations.each do |vacation|%>
  <% if vacation.favorite %>
    <%= link_to vacation.country.name, country_path(vacation.country) %><br>
  <% end %>
<% end %>